body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #cococo;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:black;
    height: 2000%;
}
.navbar-brand{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.products{
    align-items: left;
    display: flex;
}
.logo{
    max-height: 80%;
    margin-right: 50%;
}
.jumbotron{
    background-color: blanchedalmond;
    background-image: url('image+7.jpg');
    background-size:contain;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    text-align: center;
    color:black;
}
carousel-item{
    width:200%;
    background-size:contain;
    padding:3rem 2rem;
    boder-radius:0.2rem;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0;
}
div{
    text-align: center;
   width: 100%;
}
div h1 h2 h3 h4{
    text-align: center;
}
footer{
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        color: black;
        container: inherit;
        position: relative;
        top: 10%;
        left: 0%;
        margin: 30px 0 0 0;
        padding: 0;
        width: 100%;
        overflow: auto;
        background-color: #BC8F8F;
        font-size: 20px;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
@media (max-width: 768px) {
    .header, .body, .footer{
        padding: 15px;
    }
}
@media(max-width: 480px){
    .header, .body, .footer{
        padding: 10px;
    }
}
